{% block content %}
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username}}

    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.errors }}
    <button type="submit" value="Login">Login</button>
    </form>

    <h5><a href="/register">Don't have an account yet? Create one here!</a></h5>


{% endblock %}