<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title style="color: #50c878">Practice Sportsbook</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-83ERWGQM8X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-83ERWGQM8X');
    </script>
    <style>
        img {
            border-radius: 50%;
        }
        .collapse {
            background-color: #50c878;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
    }
        .collapse-content {
            color: #b3b3b3;
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #0B0C10
    }
    </style>
</head>
<body style="background-color: #202124; color: #C5C6C7">

    <div style="text-align: center; margin: 0 auto">
        <a href="/" style="align-content: center; margin: 0 auto"><img src="{% static 'logo1.jpg' %}" alt="logo1" width="350px" height="auto"></a>
        <nav>
            <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="menu">Menu</button>
            <div class="collapse-content" style="text-align: center">
                <div class="collapse" style="text-align: center">
                    <h5><a style="color: black" href="/register">Register</a></h5>
                    <hr>
                    <h5><a style="color: black" href="/login">Login</a></h5>
                    <hr>
                    <h5><a style="color: black" href="/account">Account/Betslip stats</a></h5>
                    <hr>
                    <h5><a style="color: black" href="/">Place a Wager</a></h5>
                </div>
            </div>
        </nav>
        <h2>About Us</h2>
        <br>
        <h4>Mission Statement:</h4>
        <p>Our goal is to provide an environment where you can learn how sports gambling works without having to put up any real money. We import games from the NFL and NBA every day complete with the Money Line (h2h), Spread, and Over Under. Then the following day we update these events with the box score from the previous evening. At this point we are able to process any pending bet slips and provide you with real life outcomes to track your success.</p>
        <br>
        <hr>
        <br>
        <h4>FAQs</h4>
        <p>Q: Is this Legal?</p>
        <p>A: Yes, This is purely a simulation the credits that start in your account are fake play money. The sole purpose of that money is to track the profit/loss of betslips based on your wager in an event.</p>
        <br>
        <br>
        <p>Q: What time zone are the games in?</p>
        <p>A: Central Standard Time (We are working on a front end update to offset the start time of the event to your local time zone.) </p>
        <br>
        <br>
        <p>Q: When does the system update and process bet slips?</p>
        <p>A: Times below are in CST</p>
        <div class="ui bulleted list">
            <div class="item">3:40 AM Update NBA Results from the previous day.</div>
              <div class="item">3:45 AM Update NBA Lines for the current day.</div>
              <div class="item">3:50 AM Update NFL Results from the previous day.</div>
              <div class="item">3:55 AM Update NFL Lines for the day.</div>
              <div class="item">4:00 AM Process existing betslips from the previous day.</div>
        </div>
        <br>
        <br>
        <p>Q: How long will a game be posted?</p>
        <p>A: Once we import an event it will be available until its start time. At that point all betting is closed and the event is taken off the list of available games.</p>
        <br>
        <br>
        <p>Q: What happens if I think I wasn't paid out correctly?</p>
        <p>A: Just let us know over on our <a href="https://discord.gg/xWTTPMqupe">Discord Server</a> or <a href="https://t.me/practicesportsbook">Telegram Group</a>, and we will have a moderator look into your issue. This platform is still in early access and we are happy to correct any issues with the system.</p>
        <br>
        <hr>
        <br>
        <h4>Disclaimers</h4>
        <br>
        <div class="ui bulleted list">
            <div class="item">We are very much in alpha testing mode right now. We appreciate everyone for signing up early and helping us build this site. If you come across anything that doesn't function as expected please let us know in the <a href="https://discord.gg/xWTTPMqupe">Discord Server</a> or <a href="https://t.me/practicesportsbook">Telegram Group</a>.</div>
              <div class="item">We know the site looks like pretty rough. We are currently looking into front end frameworks to create an overall more pleasing user experience. </div>
              <div class="item">At this time the site is formatted primarily for mobile. The desktop browser version works fine, but isn't recommended.</div>
              <div class="item">Currently when an event is created the Money Line, Spread, and Over Under are locked in. In the near future we will update odds every few hours but for now its normally about once a day when the event gets pulled in at about 5am EST.</div>
        </div>
        <div>
            <div>
                <hr>
                <h4><a href="/register">Register for an account</a></h4>
                <br>
            </div>
        </div>
    </div>
</body>


<script>
{# show/hide warehouse nested rows #}
    let coll = document.getElementsByClassName("collapse");
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            console.log(this)
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>