<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
</head>
<body>
    <h2>{{ username }}'s Account Info</h2>
    <h3>Starting Balance: {{ account.starting_balance }}</h3>
    <h3>Current Balance: {{ account.current_balance }}</h3>
    <p>-------------------------------------------------</p>
    {% for adjustment in adjustments %}
        <h5>Previous Balance: {{ adjustment.previous_balance }}</h5>
        <h5>Amount Adjusted: {{ adjustment.amount_adjusted }}</h5>
        <h5>Updated Balance: {{ adjustment.new_balance }}</h5>
        <h5>Notes: {{ adjustment.notes }}</h5>
        <p>-------------------------------------------------</p>
    {% endfor %}
</body>
</html>