<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title style="color: #50c878">Practice Sportsbook</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-83ERWGQM8X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-83ERWGQM8X');
    </script>
    <style>
        img {
            border-radius: 50%;
        }
        .garbage-green {
            background-color: #50c878;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
    }
        .garbage-white {
            color: #b3b3b3;
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #0B0C10
    }
    </style>
</head>
<body style="background-color: #202124; color: white">
<div style="text-align: center; justify-content: center; align-content: center">
    <a href="/" style="align-content: center; margin: 0 auto"><img src="{% static 'logo1.jpg' %}" alt="logo1" width="350px" height="auto"></a>
    <nav class="navbar navbar-expand-md garbage-green justify-content-center" style="font-weight: bold; display: block; text-align: center">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PracticeSportsbook</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="garbage-green navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Wager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account/Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <br>
    <h2 style="text-align: center">Account Info</h2>
    <br>
    <div class="ui cards" style="text-align: center; margin: 0 auto; align-content: center">
        <div class="card" style="margin: 0 auto; background-color: #C5C6C7">
            <div class="content">
                <div class="header" style="color: #1f2833">{{ username.title }}</div>
                <div class="description">
                    <h3>Current Balance: {{ account.current_balance }}</h3>
                    <hr>
                    <h4>Wagers</h4>
                    <p>Pending: {{ num_pending_betslips }}</p>
                    <p>Processed: {{ num_processed_betslips }}</p>
                    <p>Total: {{ total_betslips }}</p>
                    <hr>
                    <h4>Player stats</h4>
                    <p>Record: {{ num_winning_tickets }}/{{ num_processed_betslips }}</p>
                    <p style="color: darkgreen">Wins: {{ num_winning_tickets }}</p>
                    <p style="color: darkred">Losses: {{ num_losing_tickets }}</p>
                    <p>Win Percentage: {{ win_percent }}</p>
                    <p>Starting Balance: {{ account.starting_balance }}</p>
                    <p>Largest Bet: {{ largest_bet }}</p>
                    {% if account.account_resets > 0 %}
                        <hr>
                        <p>Account Resets: {{ account.account_resets }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="text-align: center">
        <hr>
        <h2>Reset Account Balance</h2>
        <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
        <h4>If you are out of money or close to it feel free to reset to the starting balance of 1000.</h4>
        <form style="text-align: center" method="post" enctype="multipart/form-data" id="account_reset" name="account_reset">
            {% csrf_token %}
            <div class="ui checked checkbox">
                <input type="checkbox" value="account_reset_true" name="account_reset_true" id="account_reset_true">
                <label style="color: red">Reset Account Balance.</label>
                <br>
                <button type="submit" id="account_reset" class="ui red basic button">Confirm Account Reset</button>
            </div>
        </form>
        <br>
        <br>
        <hr>
        <h2>Account History</h2>
        <br>
        <button type="button" class="garbage-green" style="font-weight: bold; display: block; text-align: center" id="pending_betslips">Pending Betslips</button>
        <div class="ui message garbage-green" style="background-color: #1f2833; display: none">
            {% for betslip in pending_betslips %}
        <div class="ui card" style="display: inline-flex; text-align: center; margin: 1rem; background-color: #C5C6C7">
          <div class="content">
            <div class="header">{{ betslip.event }}</div>
          </div>
          <div class="content">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Internal ID: {{ betslip.id }}</p>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Type of Bet: {{ betslip.type_of_bet.title }}</p>
                        </div>
                    </div>
                </div>
                {% if betslip.type_of_bet == "money line" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Money Line Price: {{ betslip.event.home_team_money_line_price }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Money Line Price: {{ betslip.event.away_team_money_line_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Amount Wagered: {{ betslip.stake }}</p>
                        </div>
                    </div>
              </div>
                {% elif betslip.type_of_bet == "over under" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Over/Under: {{ betslip.event.over_under_points }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.event.predicted_outcome == 'over' %}
                                  <p>Over Price: {{ betslip.event.over_price }}</p>
                              {% elif betslip.event.predicted_outcome == 'under' %}
                                  <p>Under Price: {{ betslip.event.under_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% elif betslip.type_of_bet == 'spread' %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Spread: {{ betslip.event.spread_home_team_points }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Spread: {{ betslip.event.spread_away_team_points }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <br>
        <hr>
        <br>
        <button type="button" class="garbage-green" style="font-weight: bold; display: block; text-align: center" id="winning_betslips">Winning Betslips</button>
        <div class="ui message" style="background-color: #1f2833; display: none">
            {% for betslip in winning_tickets %}
        <div class="ui card" style="display: inline-flex; text-align: center; margin: 1rem; background-color: #C5C6C7">
          <div class="content">
            <div class="header">{{ betslip.event }}</div>
          </div>
          <div class="content" style="text-align: center">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Internal ID: {{ betslip.id }}</p>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Type of Bet: {{ betslip.type_of_bet.title }}</p>
                        </div>
                    </div>
                </div>
                {% if betslip.type_of_bet == "money line" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Money Line Price: {{ betslip.event.home_team_money_line_price }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Money Line Price: {{ betslip.event.away_team_money_line_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Amount Wagered: {{ betslip.stake }}</p>
                        </div>
                    </div>
              </div>
                {% elif betslip.type_of_bet == "over under" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Over/Under: {{ betslip.event.over_under_points }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.event.predicted_outcome == 'over' %}
                                  <p>Over Price: {{ betslip.event.over_price }}</p>
                              {% elif betslip.event.predicted_outcome == 'under' %}
                                  <p>Under Price: {{ betslip.event.under_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% elif betslip.type_of_bet == 'spread' %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Spread: {{ betslip.event.spread_home_team_points }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Spread: {{ betslip.event.spread_away_team_points }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
              <div class="event">
                <div class="content">
                  <div class="summary" style="text-align: center">
                     <p>Profit: {{ betslip.profit }}</p>
                  </div>
                </div>
              </div>
                <div class="event">
                  <div class="content">
                    <div class="summary" style="text-align: center">
                       <p>Total Return: {{ betslip.total_return }}</p>
                    </div>
                 </div>
              </div>
             </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <br>
        <hr>
        <br>
        <button type="button" class="garbage-green" style="font-weight: bold; display: block; text-align: center" id="losing_betslips">Losing Betslips</button>
        <div class="ui message" style="background-color: #1f2833; display: none">
        {% for betslip in losing_tickets %}
        <div class="ui card" style="display: inline-flex; text-align: center; margin: 1rem; background-color: #C5C6C7">
          <div class="content">
            <div class="header">{{ betslip.event }}</div>
          </div>
          <div class="content">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Internal ID: {{ betslip.id }}</p>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Type of Bet: {{ betslip.type_of_bet.title }}</p>
                        </div>
                    </div>
                </div>
                {% if betslip.type_of_bet == "money line" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Money Line Price: {{ betslip.event.home_team_money_line_price }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Money Line Price: {{ betslip.event.away_team_money_line_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                    <div class="content">
                        <div class="summary" style="text-align: center">
                            <p>Amount Wagered: {{ betslip.stake }}</p>
                        </div>
                    </div>
              </div>
                {% elif betslip.type_of_bet == "over under" %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Over/Under: {{ betslip.event.over_under_points }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.event.predicted_outcome == 'over' %}
                                  <p>Over Price: {{ betslip.event.over_price }}</p>
                              {% elif betslip.event.predicted_outcome == 'under' %}
                                  <p>Under Price: {{ betslip.event.under_price }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% elif betslip.type_of_bet == 'spread' %}
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              <p>Predicted Outcome: {{ betslip.predicted_outcome }}</p>
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                          <div class="summary" style="text-align: center">
                              {% if betslip.predicted_outcome == betslip.event.home_team %}
                                <p>Spread: {{ betslip.event.spread_home_team_points }}</p>
                              {% elif betslip.predicted_outcome == betslip.event.away_team %}
                                <p>Spread: {{ betslip.event.spread_away_team_points }}</p>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center">
                                <p>Amount Wagered: {{ betslip.stake }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <br>
    <hr>
    <br>
    <button type="button" class="garbage-green" style="font-weight: bold; display: block; text-align: center" id="account_adjustments">Account Adjustments</button>
    <div class="ui message" style="background-color: #1f2833; display: none">
        {% for adjustment in adjustments %}
        <div class="ui card" style="display: inline-flex; text-align: center; margin: 1rem; background-color: #C5C6C7">
          <div class="content">
            <div class="header">{{ adjustment.notes }}</div>
          </div>
          <div class="content">
            <div class="ui small feed">
              <div class="event">
                <div class="content">
                  <div class="summary" style="text-align: center">
                      <p>Previous Balance: {{ adjustment.previous_balance }}</p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary" style="text-align: center">
                     <p>Amount Adjusted: {{ adjustment.amount_adjusted }}</p>
                  </div>
                </div>
              </div>
              <div class="event">
                <div class="content">
                  <div class="summary" style="text-align: center">
                     <p>New Balance: {{ adjustment.new_balance }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <footer style="text-align: center">
        <h4>PracticeSportsbook.com &copy; 2022</h4>
    </footer>

</body>
</html>
<script>
{# show/hide warehouse nested rows #}
    let coll = document.getElementsByClassName("garbage-green");
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            console.log(this)
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>