<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title style="color: #50c878">Practice Sportsbook</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <style>
        .collapse {
            background-color: #50c878;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
    }
        .collapse-content {
            color: #b3b3b3;
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #0B0C10
    }
    </style>
</head>
{% load static %}
<body style="background-color: #202124; color: #C5C6C7">
<div style="text-align: center">
    <img src="{% static 'logo1.jpg' %}" alt="logo1" width="350px" height="auto">
    <nav>
        <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="menu">Menu</button>
        <div class="collapse-content" style="text-align: center">
            <div class="collapse" style="text-align: center">
                <h5><a style="color: black" href="/account">Account/Betslip stats</a></h5>
                <hr>
                <h5><a style="color: black" href="/">Place a Wager</a></h5>
                <hr>
{#                <h5><a href="/refresh_odds">Refresh Odds</a></h5>#}
{#                <hr>#}
                <h5><a style="color: black" href="/logout">Logout</a></h5>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div style="color: #66FCF1;">
        {% if messages %}
            {% for message in messages %}
                <h2>------------------</h2>
                <h3>{{ message }}</h3>
                <h2>------------------</h2>
            {% endfor %}
        {% endif %}
    </div>
    <div class="ui cards" style="text-align: center; margin: 0 auto; align-content: center">
        <div class="card" style="margin: 0 auto; background-color: #C5C6C7">
            <div class="content">
                <div class="header" style="color: #1f2833">{{ username.title }}</div>
                <div class="description">
                    <h3>Current Balance: {{ account.current_balance }}</h3>
                    <hr>
                    <h4>Wagers</h4>
                    <p>Pending: {{ pending_betslips }}</p>
                    <p>Processed: {{ processed_betslips }}</p>
                    <p>Total: {{ total_betslips }}</p>
                    <hr>
                    <h4>Player Stats</h4>
                    <p>Record: {{ winning_tickets }}/{{ processed_betslips }}</p>
                    <p style="color: darkgreen">Wins: {{ winning_tickets }}</p>
                    <p style="color: darkred">Losses: {{ losing_tickets }}</p>
                    <p>Win Percentage: {{ winning_percent }}</p>
                    <p>Starting Balance: {{ account.starting_balance }}</p>
                    <p>Largest Bet: {{ largest_bet }}</p>
                    {% if account.account_resets > 0 %}
                        <hr>
                        <p>Account Resets: {{ account.account_resets }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <h4>NFL, and NBA lines.</h4>
    <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="nba_events">NBA Games</button>
        <div class="collapse-content" style="text-align: center">
            {% for event in nba_events %}
            <div class="ui message" style="background-color: #1f2833">
                <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center; background-color: #C5C6C7" id="{{ event.external_id }}">{{ event }}</button>
                <div class="collapse-content" style="text-align: center; color: #C5C6C7">
                    <p>Home Team --> {{ event.home_team }} | Spread: {{ event.spread_home_team_points }} / {{ event.spread_home_team_price }} | Money Line: {{ event.home_team_money_line_price }}</p>
                    <p>Away Team --> {{ event.away_team }} | Spread: {{ event.spread_away_team_points }} / {{ event.spread_away_team_price }} | Money Line: {{ event.away_team_money_line_price }}</p>
                    <p>Over Under --> {{ event.over_under_points }} | Over Price: {{ event.over_price }} | Under Price: {{ event.under_price }}</p>
                    <div class="checkbox">
                        <form method="post" enctype="multipart/form-data" class="ui form error" autocomplete="off" id="{{ event.external_id }}">
                            {% csrf_token %}
                            <hr>
                            <h4>Select the type of bet you would like to place.</h4>

                            <label for="{{ event.external_id }}">Type of Bet</label>
                            <br>
                            <select id="{{ event.external_id }}" name="{{ event.external_id }}" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="money line">Money Line</option>
                                <option value="spread">Spread</option>
                                <option value="over_under">Over Under</option>
                            </select>

                            <br>
                            <label for="{{ event.external_id }} | predicted_outcome">Select a winner</label>
                            <select id="{{ event.external_id }} | predicted_outcome" name="{{ event.external_id }} | predicted_outcome" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="{{ event.home_team }}">{{ event.home_team }}</option>
                                <option value="{{ event.away_team }}">{{ event.away_team }}</option>
                                <option value="Over">Over</option>
                                <option value="Under">Under</option>
                            </select>
                            <br>
                            <label for="{{ event.external_id }} | amount_wagered">Amount to Wager</label>
                            <br>
                            <input type="number" step="any" name="{{ event.external_id }} | amount_wagered" id="{{ event.external_id }} | amount_wagered" placeholder="0.00" style="width: 50%; text-align: center; margin: 0 auto">
                            <br>
                            <br>
                            <button type="submit" id="submit_form" class="ui green basic button">Submit</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    <br>
    <hr>
    <br>
    <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="nfl_events">NFL Games</button>
        <div class="collapse-content" style="text-align: center">
            {% for event in nfl_events %}
            <div class="ui message" style="background-color: #1f2833">
                <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center; background-color: #C5C6C7" id="{{ event.external_id }}">{{ event }}</button>
                <div class="collapse-content" style="text-align: center; color: #C5C6C7">
                    <p>Home Team --> {{ event.home_team }} | Spread: {{ event.spread_home_team_points }} / {{ event.spread_home_team_price }} | Money Line: {{ event.home_team_money_line_price }}</p>
                    <p>Away Team --> {{ event.away_team }} | Spread: {{ event.spread_away_team_points }} / {{ event.spread_away_team_price }} | Money Line: {{ event.away_team_money_line_price }}</p>
                    <p>Over Under --> {{ event.over_under_points }} | Over Price: {{ event.over_price }} | Under Price: {{ event.under_price }}</p>
                    <div class="checkbox">
                        <form method="post" enctype="multipart/form-data" class="ui form error" autocomplete="off" id="{{ event.external_id }}">
                            {% csrf_token %}
                            <hr>
                            <h4>Select the type of bet you would like to place.</h4>
                            <label for="{{ event.external_id }}">Type of Bet</label>
                            <br>
                            <select id="{{ event.external_id }}" name="{{ event.external_id }}" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="money line">Money Line</option>
                                <option value="spread">Spread</option>
                                <option value="over_under">Over Under</option>
                            </select>
                            <br>
                            <label for="{{ event.external_id }} | predicted_outcome">Select a winner</label>
                            <select id="{{ event.external_id }} | predicted_outcome" name="{{ event.external_id }} | predicted_outcome" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="{{ event.home_team }}">{{ event.home_team }}</option>
                                <option value="{{ event.away_team }}">{{ event.away_team }}</option>
                                <option value="Over">Over</option>
                                <option value="Under">Under</option>
                            </select>
                            <br>
                            <label for="{{ event.external_id }} | amount_wagered">Amount to Wager</label>
                            <br>
                            <input type="number" step="any" name="{{ event.external_id }} | amount_wagered" id="{{ event.external_id }} | amount_wagered" placeholder="0.00" style="width: 50%; text-align: center; margin: 0 auto">
                            <br>
                            <br>
                            <button type="submit" id="submit_form" class="ui green basic button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    <br>
    <hr>
    <br>
    <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="mma_events">MMA Fights</button>
        <div class="collapse-content" style="text-align: center">
            {% for event in mma_events %}
            <div class="ui message" style="background-color: #1F2833">
                <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center; background-color: #C5C6C7" id="mma_fight">{{ event }}</button>
                <div class="collapse-content" style="text-align: center#c5c6c7">
                    <p>{{ event.home_team}} | Money Line: {{ event.home_team_money_line_price }}</p>
                    <p>{{ event.away_team}} | Money Line: {{ event.away_team_money_line_price }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        {% if custom_events %}
            <br>
            <hr>
            <br>
            <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center" id="custom_events">Custom Events</button>
            <div class="collapse-content" style="text-align: center">
            {% for event in custom_events %}
            <div class="ui message" style="background-color: #202124">
                <button type="button" class="collapse" style="font-weight: bold; display: block; text-align: center; background-color: #5C5F58" id="{{ event.external_id }}">{{ event }}</button>
                <div class="collapse-content" style="text-align: center">
                    <p>Home Team --> {{ event.home_team }} | Spread: {{ event.spread_home_team_points }} / {{ event.spread_home_team_price }} | Money Line: {{ event.home_team_money_line_price }}</p>
                    <p>Away Team --> {{ event.away_team }} | Spread: {{ event.spread_away_team_points }} / {{ event.spread_away_team_price }} | Money Line: {{ event.away_team_money_line_price }}</p>
                    <p>Over Under --> {{ event.over_under_points }} | Over Price: {{ event.over_price }} | Under Price: {{ event.under_price }}</p>
                    <div class="checkbox">
                        <form method="post" enctype="multipart/form-data" class="ui form error" autocomplete="off" id="{{ event.external_id }}">
                            {% csrf_token %}
                            <hr>
                            <h4>Select the type of bet you would like to place.</h4>
                            <label for="{{ event.external_id }}">Type of Bet</label>
                            <br>
                            <select id="{{ event.external_id }}" name="{{ event.external_id }}" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="money line">Money Line</option>
                                <option value="spread">Spread</option>
                                <option value="over_under">Over Under</option>
                            </select>
                            <br>
                            <label for="{{ event.external_id }} | predicted_outcome">Select a winner</label>
                            <select id="{{ event.external_id }} | predicted_outcome" name="{{ event.external_id }} | predicted_outcome" style="width: 50%; text-align: center; margin: 0 auto">
                                <option disabled selected value>Select</option>
                                <option value="{{ event.home_team }}">{{ event.home_team }}</option>
                                <option value="{{ event.away_team }}">{{ event.away_team }}</option>
                                <option value="Over">Over</option>
                                <option value="Under">Under</option>
                            </select>
                            <br>
                            <label for="{{ event.external_id }} | amount_wagered">Amount to Wager</label>
                            <br>
                            <input type="number" step="any" name="{{ event.external_id }} | amount_wagered" id="{{ event.external_id }} | amount_wagered" placeholder="0.00" style="width: 50%; text-align: center; margin: 0 auto">
                            <br>
                            <br>
                            <button type="submit" id="submit_form" class="ui green basic button">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
    <hr>
    <br>
    <div class="ui card" style="text-align: center; margin: 0 auto; align-content: center; background-color: #C5C6C7">
      <div class="content">
        <div class="header" style="text-align: center">Site Leaderboard</div>
      </div>
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary" style="text-align: center">
              <h5>Username | Current Account Balance | Pending Bets</h5>
                  {% for key, value in leaderboard.items %}
                      <p>{{ key }} | {{ value.current_balance }} | {{ value.pending_bets }}</p>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

</body>
<script>
{# show/hide warehouse nested rows #}
    let coll = document.getElementsByClassName("collapse");
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            console.log(this)
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
</html>
